# All backup and undo files (which end with a ~)
*~

# All swap files (which end with .swp
*.swp

# Vim backup, swap, undo and network read/write history files
vim/backup/
vim/swap/
vim/undo-history/
vim/.netrwhist
vim/.netrwhist~
